<ol class="breadcrumb">
  <li class="active"><i class="fa fa-home" aria-hidden="true"></i></li>
  <% var breadcrumb = locals.breadcrumb; %>
  <% for (var i = 0; i < breadcrumb.length; i++) { %>
    <li><a href='<%= breadcrumb[i].link %>'><%= breadcrumb[i].name %></a></li>
  <% } %>
</ol>