<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Paki Upload">
    <meta name="author" content="Sidsis - Kelompok 3">
    <link rel="icon" href="../../favicon.ico">

    <title><%= (locals.title !== undefined) ? locals.title + ' - ' : '' %>Paki Upload!</title>

    <!-- Load fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i" rel="stylesheet"> 

    <!-- Custom styles-->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="/libraries/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/libraries/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/offcanvas.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/libraries/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core JavaScript -->
    <script src="/libraries/jquery/jquery-3.1.1.min.js"></script>
    <script src="/libraries/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </head>

  <body>
