<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Site brand -->
    <a class="navbar-brand" href="/">
      <i class="fa fa-cloud-upload" aria-hidden="true"></i>
      Paki Upload!
    </a>

    <!-- Navi links -->
    <ul class="nav navbar-nav">
    </ul>
  </div>
</nav>